# Dependencies
node_modules

# Next.js
.next
out
dist
!packages/*/dist

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Logs
*.log

# Vercel
.vercel

# Debug
npm-debug.log*
pnpm-debug.log*
next-env.d.ts
